*{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, .h1, .h2, ::placeholder{

    font-family: 'Petit Formal Script', cursive;
}

.bg-yellow{
    background-color: rgb(250,200,70);
}

#navbar{
    z-index: 9999;
    transition: 1s;
}
.btn-prenota{
   color: white; 
   background-color: rgb(255, 196, 0); 
}

.btn-prenota:hover{
    color: white; 
    background-color: rgb(255, 136, 0); 
 }
 

.header{
    height: 100vh;
    min-width: 360px;
    background: url('./img/gelateria cono.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
@media only screen and (max-width:576px){
    .header{
        background-position: right;
       
        
    }
}

.text-shadow{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}
.mgtop{
    margin-top: 70px;
}

.mstart{
    margin-left: 100px;
}

.box-gelato{
    height: 420px;
}

.over-box{
    position: relative;
    overflow: hidden;
    transition: 1s;
}

.over-img{
    transition: 1s;
}

.over-box:hover .over-img{
    transform: scale(1.1);
}

.over-text{
    position: absolute;
    padding: 20px 40px;
    transition: 1s;
    z-index: 1;
}

.over-box::after{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    content: "";
    transition: 1s;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.301);
}

.over-box:hover::after{
    opacity: 1;
}

.bg-section-cta{
    background: linear-gradient(white, transparent, white), url('./img/conogelato.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.bg-section-cta-2{
    background: linear-gradient(white, transparent, white),  url('./img/fragolegelato.jpg');
    background-size: cover;
    background-position: right;
    height: 80vh;
}

@media only screen and (max-width:576px){
    .bg-section-cta{
        background-position: center;
    }
}

.product-label{
    position: relative;
    top: 50px;
    letter-spacing: 0px;
    padding-left: 10px;
    width: 120px;
    padding-top: 8px;
    padding-bottom: 8px;
    z-index: 99;
    background-color: rgba(179, 240, 240, 0.747);
}

.wrapper{
    overflow: hidden;
}

.wrapper .img-fluid{
    transition: 0.4s;
}

.wrapper .img-fluid:hover{
    transform: scale(1.1);
}

.w-200{
    width: 200px;
}

.bg-section-timer{
    height: 550px;
    background: linear-gradient(white, transparent, white), url('./img/bg-gelato.jpg');
    background-size: cover;
    background-position: center;
  
}

.border-bottom-yellow{
    border: none !important;
    border-radius: 0px;
    border-bottom: 4px solid rgb(255, 196, 0) !important;
}

.bg-footer{
    background-color: rgba(179, 240, 240, 0.747);
}

html{
    scroll-behavior: smooth;
}



